@media (max-width:800px) {

    nav ul {
        position: absolute;
        top: 64px;
        left: 0;
        right: 0;
        flex-direction: column;
        background-color: rgba(9, 9, 11, 0.932);
        backdrop-filter: blur(100px);
        -webkit-backdrop-filter: blur(100px);
        box-shadow: 0 13px 20px 0px rgba(0, 0, 0, 0.75);
        width: 96%;
        gap: 0;
        overflow: hidden;
        justify-content: center;
        margin: 0 auto;
        border-radius: 12px;
    }



    nav ul li {
        padding: 20px;
    }



    #mli {
        transition: all 0.4s ease-in-out;
    }

    .m_icon {
        display: block;
    }

    .bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        background-image: url("icons/skextra_icon_white.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 150%;

        filter: blur(80px);
        z-index: -1;
    }


    .hero {
        position: relative;
        height: 100vh;
        display: flex;
        justify-content: center;
    }

    .hero_container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .hero-cont {
        width: 358px;
        height: 440px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 25px;
        margin-left: 25px;
    }

    .hero-cont h2 {
        font-size: 25pt;
        margin-bottom: 10px;
    }

    .hero-cont h5 {
        font-size: 10pt;
        margin-bottom: 10px;
    }

    .hero-cont p {
        font-size: 10pt;
    }

    .hero-cont .hero-btn .btn1 {
        width: 150px;
    }

    .hero-cont .hero-btn .btn2 {
        width: 120px;
    }

    #about {
        width: 100%;
        height: 700px;
    }

    .abt-main {
        width: 100%;
        height: 700px;
    }

    .abt-cont1 {
        justify-content: space-between;
        /* align-items: center; */
        height: 350px;

    }

    .abt-cont1 h2 {
        margin-bottom: 15px;
        margin-top: 15px;
        font-size: 1.5em;
    }

    .abt-cont2 {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        height: auto;

    }



    .abt-cont1 p {
        font-size: 0.8em;
        margin-left: 19px;
        margin-right: 19px;
        margin-bottom: 20px;
        /* text-align: center; */
    }

    .ach {
        font-size: 0.7em;
        margin-bottom: 15px;
        padding: 5px;
        width: 100%;
    }

    .achiv span {
        font-size: 0.7em;
    }

    .abt-cont1 {
        margin-top: 20px;
    }

    .abt-cont2 h2 {
        font-size: 1em;
    }

    .abt-cont2 ul li {
        font-size: 0.8em;
    }

    .abt-cont2 p {
        font-size: 0.8em;
        /* text-align: center; */
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .te-main {
        width: 90%;
    }

    .abt-cont1 {
        width: 90%;
        margin-bottom: 15px;
        /* height: 450px; */
    }

    .abt-cont2 {
        width: 90%;
    }

    .abt-cont2 ul li {
        /* text-align: center; */
        margin-bottom: 15px;
    }

    .te-box {
        width: 91.79%;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .fp-cont {
        flex-direction: column;
    }

    .fp-box {
        width: 97%;
    }

    .fb-cap div {
        font-size: 0.7em;
    }

    .li-cont {
        flex-direction: column;
    }

    .li-boxes {
        width: 97%;
        margin-bottom: 33px;
    }

    .cu {
        width: 100%;
    }

    .cu>h2 {
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }
    .cu>p {
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }

    .c-cont {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .c-box {
        margin-bottom: 40px;
        width: 96%;
    }

    .c-hd {
        text-align: center;
    }

    .c-handels {
        margin-bottom: 40px;
        width: 96%;
    }

    .location {
        text-align: center;
    }


}